**Matplotlib**

**Numpy**

**Dictionary**

In [34]:
#Student Dictionary
student = {
    'name':'fatima',
    'age':22,
    'id':1
}
print(student)

#updation
student['name'] = 'Fatima'
print(student)

{'name': 'fatima', 'age': 22, 'id': 1}
{'name': 'Fatima', 'age': 22, 'id': 1}

**List**

In [21]:
#Printing list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list)

#Sum, Max, Min in list
# total = sum(my_list)
# print("Sum: ",sum(my_list))
print("Max: ",max(my_list))
print("Min: ",min(my_list))

#Append, Remove from list
my_list.append(10)
my_list.remove(4)
print(my_list)

#Arranging list in ascending and Descending order
print("Ascending ",sorted(my_list))
print("Decending ",sorted(my_list, reverse=True))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Max:  10
Min:  1
[1, 2, 3, 5, 6, 7, 8, 9, 10, 10]
Ascending  [1, 2, 3, 5, 6, 7, 8, 9, 10, 10]
Decending  [10, 10, 9, 8, 7, 6, 5, 3, 2, 1]

**Tuple**

In [25]:
#Printing Tuple
fruits = ('banana','apple','strawberry','kiwi','apricot')
print(fruits)

#Printing second and last element
print("second element: ",fruits[1])
print("last element: ",fruits[-1])

#Modifying Tuple
# fruits[2]="orange"
# print(fruits)
# fruit_list = list(fruits)
# print(fruit_list)

('banana', 'apple', 'strawberry', 'kiwi', 'apricot')
second element:  apple
last element:  apricot

**Set**

In [30]:
#Printing set
set1 = {1,2,3,4,5,5}
set2 = {2,4,6,8,10}
print(set1)
print(set2)

#Union, Intersection, Difference
print("Union: ",set1.union(set2))
print("Intersection: ",set1.intersection(set2))
print("Difference: ",set1.difference(set2))

#Add and Remove
set1.add(15)
set2.remove(4)
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
Union:  {1, 2, 3, 4, 5, 6, 8, 10}
Intersection:  {2, 4}
Difference:  {1, 3, 5}
{1, 2, 3, 4, 5, 15}
{2, 6, 8, 10}