In [191]:
print("Fatima");

Fatima

In [192]:
#variables
x = 4
y = 5
print(x + y)

9

In [193]:
x = str('Fatima')
y = int(6)
z = float(6)
print(x)
print(y)
print(z)

Fatima
6
6.0

In [194]:
a = 5
print(type(a))

<class 'int'>

In [195]:
a = 6
A = "Fatima"
print(a)
print(A)

6
Fatima

In [196]:
_a = 4
a = 6
b1 = 34

In [197]:
a, b, c = "Maths", "Chemistry", "Biology"
print(a)
print(b)
print(c)

Maths
Chemistry
Biology

In [198]:
a = b = c = "Maths"
print(a)
print(b)
print(c)

Maths
Maths
Maths

In [199]:
x = 5
def add():
  print(" We offer ", x , " prayers")

add()

 We offer  5  prayers

In [200]:
stdData = {
    "id" : 1,
    "name" : "Fatima",
    "age" : 22
}
print(stdData)
print(stdData["id"])

{'id': 1, 'name': 'Fatima', 'age': 22}
1

In [201]:
stdData2 = {
    "id" : 1,
    "name" : "Fatima",
    "age" : 22,
    "age": 21
}
print(stdData2)
print(len(stdData))
stdData2.update({"age":22})
print(stdData2)

{'id': 1, 'name': 'Fatima', 'age': 21}
3
{'id': 1, 'name': 'Fatima', 'age': 22}

In [202]:
x = 2
y = 3
if x < y:
  print(x, " is the smaller value")
else:
  print(y, " is the smaller value")

2  is the smaller value

In [203]:
a = 6
while(a > 1):
  print(a)
  a -= 1

6
5
4
3
2

In [204]:
names = ["fatima", "farwa", "maryam"]
for  x in names:
  print(x)

fatima
farwa
maryam

In [205]:
def greeting(name = "User"):
  print("Hello", name)

greeting("Fatima")
greeting()
greeting("Amna")

Hello Fatima
Hello User
Hello Amna

In [206]:
def tableFive(num):
  return 5 * num

print(tableFive(3))

15